.main {
  padding-top: 123px;
  padding-bottom: 736px;

  .ant-form {
    margin-top: 114px;
    margin-left: 185px;
    width: 595px;
    .card {
      border-radius: 20px;
      box-shadow: 3px 3px 14px 0px rgba(190, 190, 190, 0.3);
      overflow: hidden;
      margin: 60px 0;
      .card-header {
        background: #d0f7fa;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        padding: 30px;
      }
      &.upload .card-body {
        padding: 60px 40px;
      }
      .card-body {
        padding: 38px 48px 52px 30px;
        .ant-upload-drag {
          background-color: white;
          border-radius: 5px;
          border: 1px dashed #000;
        }
        .ant-upload-drag-icon {
          margin: 0;
        }
        .ant-upload-text {
          font-weight: 600;
        }
        .ant-upload-hint {
          color: #979797;
        }
        .ant-upload-btn {
          padding-top: 60px;
          padding-bottom: 60px;
        }
      }
    }
  }
}
