.main {
  padding-top: 123px;
  padding-bottom: 123px;

  .api-error {
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    color: red;
    transform: translateX(-40%);
  }

  .ant-form {
    margin-top: 114px;
    margin-left: 185px;
    width: 595px;
  }
}
.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
